@import "../../colors.scss";
@import "../../responsive.scss";

.singlePage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow: scroll;

        /* Custom scrollbar styles */
        &::-webkit-scrollbar {
            width: 8px; /* Width of the scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: $color-almond; /* Color of the track */
            border-radius: 10px; /* Rounded corners for the track */
        }

        &::-webkit-scrollbar-thumb {
            background: $color-ciner; /* Color of the thumb */
            border-radius: 10px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $color-camblue;
        }
    }

    .details{
        flex: 3;
        height: 100%;
        overflow-y: scroll;
        padding-top: 50px;

        
        @include md{
            flex: none;
            height: max-content;
            margin-bottom: 50px;
        }

        /* Custom scrollbar styles */
        &::-webkit-scrollbar {
            width: 8px; /* Width of the scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: $color-almond; /* Color of the track */
            border-radius: 10px; /* Rounded corners for the track */
        }

        &::-webkit-scrollbar-thumb {
            background: $color-ciner; /* Color of the thumb */
            border-radius: 10px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $color-camblue;
        }

        .wrapper{
            padding-right: 50px;

            .info{

                margin-top: 50px;
                .top{
                    display: flex;
                    justify-content: space-between;
                    background: $color-ciner;

                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h1{
                            font-weight: 400;
                        }
                        .address{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #333;
                            font-size: 14px;

                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .price{
                            padding: 5px;
                            background: $color-emerland;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                            border-radius: 5px;
                        }
                    }
                    .user{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 10px 50px;
                        border-radius: 10px;
                        background: $color-celadon;
                        font-weight: 600;

                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                    }
                }

                .bottom{
                    margin-top: 50px;
                    line-height: 20px;
                }
            }
        }


    }


    .features{
        flex: 2;
        background-color: $color-ciner;
        height: 100%;
        overflow-y: scroll;
        padding-top: 50px;

        @include md{
            flex: none;
            height: max-content;
            margin-bottom: 50px;
        }

        /* Custom scrollbar styles */
        &::-webkit-scrollbar {
            width: 8px; /* Width of the scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: $color-ciner; /* Color of the track */
            border-radius: 10px; /* Rounded corners for the track */
        }

        &::-webkit-scrollbar-thumb {
            background: $color-almond; /* Color of the thumb */
            border-radius: 10px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $color-camblue;
        }

        .wrapper{
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            img{
                width: 24px;
                height: 24px;
            }

            .title{
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 10px;

            }

            .feature{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    background: transparent;
                }

                .featureText{

                    span{
                        font-weight: bold;

                    }

                    padding: {
                        font-size: 14px;
                    };
                }
            }
            .listVertical{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px 10px;
                border-radius: 10px;
                background-color: $color-almond;

            }

            .listHorizontal{
                display: flex;
                justify-content: space-between;
                padding: 20px 10px;
                border-radius: 10px;
                background-color: $color-almond;

            }

            .sizes{
                display: flex;
                justify-content: space-between;

                .size{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background: $color-almond;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            .fuckOff{
                min-width: 100%;
                min-height: 200px;
            }


            .buttons{
                display: flex;
                justify-content: space-between;


                button{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background: $color-camblue;
                    border: 2px solid $color-ciner;
                    cursor: pointer;
                    border-radius: 40px;
                    transition: all .5s ease;

                    img{
                        width: 16px;
                        height: 16px;

                    }

                    &:hover{
                    background: $color-celadon;
                    border: 2px solid $color-camblue;

                    }

                    @include md{
   
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

